header {
  background-color: aqua;
  color:black;
  text-align: left;
  padding: 20px 0 0 40px;
  height: 20vh;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.Jonathan {
  width: 40%;
  margin: 0 20px 0 0;
}
.me {
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}