header {
  background-color: aqua;
  color:black;
  text-align: left;
  padding: 20px 0 0 40px;
  height: 20vh;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}

main {
  background-color: grey;
  padding: 20px 40px;
}