form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px;
    padding: 0px;
}
form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    height: 2em;
    width: 20em;
}
form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    height: 10em;
    width: 50em;
}
form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
    background-color: #333;
    color: #D3EFBD;
    border: none;
    width: 10em;
}
form button:hover {
    background-color: #D3EFBD;
    color: #333;
}